<?xml version="1.0"?>
<robot name="assembly_1" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="base_link">
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
        </inertial>
        <visual>
            <origin xyz="0.00908956 0.0132281 -0.0575308" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Default.stl" scale="1 1 1" />
            </geometry>
            <material name="0.501961_1.000000_0.501961_0.000000_0.000000">
                <color rgba="0.501961 1 0.501961 1" />
            </material>
        </visual>
        <visual>
            <origin xyz="0 0 0.02" rpy="0 0 0" />
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
            <material name="body_material">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.00908956 0.0132281 -0.0575308" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Default.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>

    <xacro:include filename="$(find assembly_1)/urdf/actuator.xacro"/>
    <xacro:quad_arm name="arm_fr" angle="0.785" x="0" y="0"/>
    <xacro:quad_arm name="arm_fl" angle="2.356" x="0" y="0"/>
    <xacro:quad_arm name="arm_bl" angle="-2.356" x="0" y="0"/>
    <xacro:quad_arm name="arm_br" angle="-0.785" x="0" y="0"/>

    <xacro:include filename="$(find assembly_1)/urdf/gps.xacro"/>
    <xacro:include filename="$(find assembly_1)/urdf/imu.xacro"/>
    <xacro:include filename="$(find assembly_1)/urdf/camera.xacro"/>
    <xacro:include filename="motor1.xacro" />
    <xacro:include filename="motor2.xacro" />
    <xacro:include filename="motor3.xacro" />
    <xacro:include filename="motor4.xacro" />
</robot>
