<?xml version="1.0"?>
<robot name="gps" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <joint name="gps_joint" type="fixed">
    <!-- the root of the drone or the component that the gps link attched to -->
    <parent link="root"/>
     <!-- the gps link  -->
    <child link="gps"/> 
    <origin xyz="0.3 0.3 0.3" rpy="0 0 0"/>
    
  </joint>  
  <link name ="gps">
    <visual> 
      <geometry>
        <!-- the box around the drone -->
        <box size="0.03 0.03 0.01"/> 
      </geometry>
    </visual>
    <inertial>
      
        <mass value="0.01"/>
        <!--//rpy rotation ;row, ptich , yaw  -->
        <origin xyz="0 0 0" rpy="0 0 0"/> 
        <inertia
            ixx="0.00001"
            ixy="0"
            ixz="0"
            iyy="0.00001"
            iyz="0"
            izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="gps">
  <sensor name="navsat_sensor" type="navsat">
    <always_on>1</always_on>
    <update_rate>10</update_rate>
    <topic>navsat</topic>
  </sensor>
  </gazebo>
<gazebo>
  <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>
</gazebo>

</robot>