<?xml version="1.0"?>
<robot name="imu_sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">
<joint name ="imu_joint" type="fixed">
    <child link="imu_link"/>
    <parent link="root"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<link name="imu_link">
    <visual>
        <geometry>
            <box size="0.02 0.02 0.02"/>
        </geometry>
    </visual>
    <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia
            ixx="0.00001"
            ixy="0"
            ixz="0"
            iyy="0.00001"
            iyz="0"
            izz="0.00001"/>
    </inertial>
</link>

<gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
    </sensor>
  </gazebo>
<plugin name="gz::sim::systems::Imu"
        filename="gz-sim-imu-system"/>
</robot>